body{
    height: 100vh;
    display: flex;
    align-items: center;
}
.solo{
flex-wrap: nowrap;
flex-direction: row;
align-items: stretch;

}
.solo-p{
    height: 100vh;
}
.section-container{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    width: 100%;
    padding: 30px;
    justify-content: center;
}
.title{
    justify-self:left;
    color: #fcfcfc;

    font-size: 1.2em;
    border-bottom: 2px solid #e34c26;
}
.box-list{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

/* boxes */
.box{
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 1px 7px #1e1d20;
    border-radius: 10px;
    background-color: #1c181f ;
    text-decoration: #fcfcfc;
    padding: 20px 30px;
    flex-direction: column;
    margin: 24px;
    min-height: 175px;
    width: 100%;
}
.rank{
    align-items: center;
    justify-content: center;
    line-height: 22px;
}
.rank img{
    height: 50px;
    margin-bottom: -20px;
    
}
.box:hover{
    color: #e34c26;
    transform: translateY(-20px);
    transition: 0.5s;
    cursor: pointer;
}
.box:not(:hover){
    transform: translateY(0px);
    transition: 0.5s;
}
.title-ranked{
    justify-content: baseline;
    align-self:center;
    font-size: 20px;
    color: #fcfcfc;
}
.title-unrated{
    align-self:center;
    font-size: 20px;
    color: #fcfcfc;
}
.descirption{
    text-align: center;
    display: flex;
}
.rank{
    align-self: center;
}
.description img{
    height: 60px;
    justify-items: center;
    align-self: center;
}
.multi{
    margin-top: 10vh;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}
@media only screen and (max-width:1040px) {
    .solo{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-height:1366px){
    .multi, .solo{
        margin-top: -5vh;
    }
}
@media only screen and (max-height:1100px) {
.multi, .solo{
    margin-top: 10vh;
}    
}
@media only screen and (max-height:888px) {
    .multi,.solo{
        margin-top: 30vh;
    }    
}
@media only screen and (max-height:820px) {
    .multi,.solo{
        margin-top: 30vh;
    }    
}
@media only screen and (max-height:750px) {
    .multi,.solo{
        margin-top: 50vh;
    }    
}
@media only screen and (max-height:670px) {
    .multi,.solo{
        margin-top: 500px;
    }    
}
@media only screen and (max-height:670px) {
    .multi, .solo{
        margin-top: 500px;
    }    
}
@media only screen and (max-height:510px) {
    .multi,.solo{
        margin-top: 700px;
    }    
}
@media only screen and (max-height:320px) {
    .multi,.solo{
        margin-top: 1000px;
    }    
}