* {
    color: #e34c26;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    user-select: none;
    font-weight: 600;
}

span {
    display: block;
    margin-top: 30px;
    display: inline-block;
    font-size: 25px;
    letter-spacing: 2px;
}

ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    background: #141116;
    margin: 0;
}