*{
    color: #e9e0e0;
    font-family: "Nunito", sans-serif;
    user-select: none;
}

.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 1px 7px #1e1d20;
    border-radius: 10px;
    background-color: #1c181f ;
    text-decoration: #fcfcfc;
    padding: 20px 30px;
    flex-direction: column;
    margin: 24px;
    min-height: 175px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    align-self: center;
    justify-self: center;
}

.rank{
    align-items: center;
    justify-content: center;
    line-height: 22px;
}
.rank img{
    height: 50px;
    margin-bottom: -20px;
    
}
.container:hover{
    transform: translateY(-20px);
    transition: all 0.5s ease;
}
.container:not(:hover){
    transform: translateY(0px);
    transition: 0.5s;
}
.title-ranked{
    justify-content: baseline;
    align-self:center;
    font-size: 20px;
    filter: blur(0.007em);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
}
.title-unrated{
    align-self:center;
    font-size: 20px;
    filter: blur(0.007em);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #007fe6, 0 0 40px #007fe6;
}
.descirption{
    text-align: center;
}
.descirption p{
    
    text-decoration: #a8a8a8;
}
.rank{
    align-self: center;
}


@media only screen and (max-width : 787px) {
    .flex-container{
        flex-direction: column;
    }
}
@media only screen and (max-width : 820px) {
    .body{
        max-height: 100vh;
    }
    .flex-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* NOT ANIMATION  TO FIX */
@media only screen and (min-width:657px) and (max-width:787px){
    .container{
        width: 607.59px;
    }
    .container:hover{
        transform: translateY(-20px);
        transition: all 0.5s ease;
    }
    .container:not(:hover){
        transform: translateY(0px);
        transition: 0.5s;
    }
}
@media only screen and (max-width:730px){
    .flex-container {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 100vh;
        align-self: center;
        justify-self: center;
        position: relative;
        z-index: -1;
    }
}
@media only screen and (max-width:529px){
    .flex-container{
        flex-direction: column;
    }
}
@media only screen and (width: 1024px){
    .flex-container{
        margin-top: -20vh;
    }
}
@media only screen and (width: 820px){
    .flex-container{
        margin-top: -10vh;
    }
}