* {
    color: #e34c26;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    user-select: none;
}
span {
    color: #fcfcfc;
    font-size: 25px;
    border-bottom: 2px solid #e34c26;

}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #141116;
}

